# Задачи для самостоятельной работы

### Задача 1
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [2]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [4]:
[el for el in a if el < 5]

[1, 1, 2, 3]

### Задача 2
Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [5]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [6]:
list(set(a) & set(b))

[1, 2, 3, 5, 8, 13]

### Задача 3

Отсортируйте словарь по значению в порядке возрастания и убывания.

In [8]:
d = {'test1': 1,
     'test2': 2,
     'test3': 5,
     'test4': 4}

In [14]:
dict(sorted(d.items(), key=lambda item: item[1]))
dict(sorted(d.items(), key=lambda item: item[1], reverse=True))

{'test3': 5, 'test4': 4, 'test2': 2, 'test1': 1}

### Задача 4

Напишите программу для слияния нескольких словарей в один.

In [16]:
d1 = {'test1': 1,
     'test2': 2,
     'test3': 5,
     'test4': 4}
d2 = {'test5': 0,
     'test6': 9,
     'test7': 8,
     'test8': 7}

In [17]:
{**d1, **d2}

{'test1': 1,
 'test2': 2,
 'test3': 5,
 'test4': 4,
 'test5': 0,
 'test6': 9,
 'test7': 8,
 'test8': 7}

### Задача 5

Найдите три ключа с самыми высокими значениями в словаре my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}.

In [18]:
my_dict = {'a': 500,
           'b': 5874,
           'c': 560,
           'd': 400,
           'e': 5874,
           'f': 20}

In [19]:
sorted(my_dict.items(), key=lambda item: item[1], reverse=True)[:3]

[('b', 5874), ('e', 5874), ('c', 560)]

### Задача 6

Напишите код, который переводит целое число в строку, при том что его можно применить в любой системе счисления.

In [28]:
n2 = int('10101', base=2)
n8 = int('789', base=10)
n16 = int('A9F', base=16)

In [29]:
str(n2),
str(n8),
str(n16)

'2719'

### Задача 7

Нужно вывести первые n строк треугольника Паскаля. В этом треугольнике на вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух расположенных над ним чисел.

In [32]:
def triang_pascal(n: int) -> None:
    triangle = [[1]]
    for _ in range(1, n + 1):
        row = [1] + [triangle[-1][i] + triangle[-1][i+1] for i in range(len(triangle[-1])-1)] + [1]
        triangle.append(row)
    max_width = len(' '.join(map(str, triangle[-1])))
    for row in triangle:
        print(' '.join(map(str, row)).center(max_width))

In [33]:
triang_pascal(8)

          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
 1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1

### Задача 8

Выведите первый и последний элемент списка.

In [34]:
l_test = [1, 2, 8]

In [35]:
[l_test[0], l_test[-1]]

[1, 8]

### Задача 9
Выведите первый и последний элемент списка.

In [36]:
[l_test[0], l_test[-1]]

[1, 8]

### Задача 10

При заданном целом числе n посчитайте n + nn + nnn.

In [37]:
def exp_sum(n: int) -> int:
    return n + int(str(n) + str(n)) + int(str(n) + str(n) + str(n))

In [38]:
exp_sum(3)

369

### Задача 11

Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237.

In [44]:
l11 = [1, 2, 4, 5, 8, 237, 10, 24]

In [40]:
def l_odd(l: list[int]) -> None:
    return [el for el in l[: l.index(237)] if el % 2 == 0] if 237 in l else [el for el in l if el % 2 == 0]

In [45]:
l_odd(l11)

[2, 4, 8]

### Задача 12
С помощью анонимной функции извлеките из списка числа, делимые на 15.

In [46]:
l12 = [1, 30, 23, 48, 60]

In [48]:
list(filter(lambda item: item % 15 == 0, l12))

[30, 60]

### Задача 13

Поменяйте значения переменных местами.

In [49]:
a = 6
b = 5

In [50]:
temp = a
a = b
b = temp

print(a, b)

5 6

### Задача 14

Написать функцию is_year_leap, принимающую 1 аргумент — год, и возвращающую True, если год високосный, и False иначе.

In [53]:
def is_year_leap(year: int) -> bool:
    return True if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0) else False

In [56]:
is_year_leap(2004)

True

### Задача 15

Написать функцию is_prime, принимающую 1 аргумент — число от 0 до 1000, и возвращающую True, если оно простое, и False - иначе.

In [57]:
def is_prime(n: int) -> bool:
    prime = n > 1 and (n % 2 != 0 or n == 2) and (n % 3 != 0 or n == 3)
    i = 5;
    d = 2;

    while prime and i * i <= n:
        prime = n % i != 0
        i += d
        d = 6 - d # чередование прироста 2 и 4: 5 + 2, 7 + 4, 11 + 2, и т.д.
    return prime

In [62]:
is_prime(89)

True

### Задача 16

Написать функцию arithmetic, принимающую 3 аргумента: первые 2 - числа, третий - операция, которая должна быть произведена над ними. Если третий аргумент +, сложить их; если —, то вычесть; * — умножить; / — разделить (первое на второе). В остальных случаях вернуть строку "Неизвестная операция".

In [1]:
def arithmetic(n1: int, n2: int, op: str) -> int | float | str:
    match op:
        case '+':
            return n1 + n2
        case '-':
            return n1 - n2
        case '*':
            return n1 * n2
        case '/':
            if n2 != 0:
                return float(n1) / float(n2)
            if n2 == 0:
                return 'inf'
        case _:
            return 'Неизвестная операция'

In [2]:
arithmetic(5, 0, '/')
arithmetic(1, 45, '+')
arithmetic(45, 4, '/')

11.25